NET "sel" LOC = P84 | IOSTANDARD = LVTTL;
NET "right" LOC = P22 | IOSTANDARD = LVTTL;
NET "left" LOC = P87 | IOSTANDARD = LVTTL;
NET "up" LOC = P24 | IOSTANDARD = LVTTL;
NET "down" LOC = P17 | IOSTANDARD = LVTTL;
NET "start" LOC = P92 | IOSTANDARD = LVTTL;