NET "led_out<3>" LOC = P75 | IOSTANDARD = LVTTL;
NET "led_out<2>" LOC = P88 | IOSTANDARD = LVTTL;
NET "led_out<0>" LOC = P95 | IOSTANDARD = LVTTL;
NET "led_out<1>" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_out<7>" LOC = P14 | IOSTANDARD = LVTTL;
NET "led_out<6>" LOC = P11| IOSTANDARD = LVTTL;
NET "led_out<5>" LOC = P9 | IOSTANDARD = LVTTL;
NET "led_out<4>" LOC = P7 | IOSTANDARD = LVTTL;