NET "seg<0>" LOC = P57 | IOSTANDARD = LVTTL; //1 E
NET "seg<1>" LOC = P66 | IOSTANDARD = LVTTL; //2 D
NET "seg<2>" LOC = P74 | IOSTANDARD = LVTTL;  //3 DP
NET "seg<3>" LOC = P78 | IOSTANDARD = LVTTL;  //4 C
NET "seg<4>" LOC = P81 | IOSTANDARD = LVTTL;  //5 G
NET "seg<5>" LOC = P41 | IOSTANDARD = LVTTL; //11 A
NET "seg<6>" LOC = P35 | IOSTANDARD = LVTTL; //10 F
NET "seg<7>" LOC = P27 | IOSTANDARD = LVTTL;  //7 B

NET "seg<8>" LOC = P51 | IOSTANDARD = LVTTL; //12
NET "seg<9>" LOC = P33 | IOSTANDARD = LVTTL;  //9
NET "seg<10>" LOC = P30 | IOSTANDARD = LVTTL;  //8
NET "seg<11>" LOC = P82 | IOSTANDARD = LVTTL;  //6

NET "seg_h<0>" LOC = P104 | IOSTANDARD = LVTTL; //1 E
NET "seg_h<1>" LOC = P111 | IOSTANDARD = LVTTL; //2 D
NET "seg_h<2>" LOC = P114 | IOSTANDARD = LVTTL;  //3 DP
NET "seg_h<3>" LOC = P116 | IOSTANDARD = LVTTL;  //4 C
NET "seg_h<4>" LOC = P118 | IOSTANDARD = LVTTL;  //5 G
NET "seg_h<5>" LOC = P138 | IOSTANDARD = LVTTL; //11 A
NET "seg_h<6>" LOC = P134 | IOSTANDARD = LVTTL; //10 F
NET "seg_h<7>" LOC = P124 | IOSTANDARD = LVTTL;  //7 B

NET "seg_h<8>" LOC = P140 | IOSTANDARD = LVTTL; //12
NET "seg_h<9>" LOC = P132 | IOSTANDARD = LVTTL;  //9
NET "seg_h<10>" LOC = P127 | IOSTANDARD = LVTTL;  //8
NET "seg_h<11>" LOC = P120 | IOSTANDARD = LVTTL;  //6